<%= render 'devise/shared/terms_of_service' %>

<div class="body-white-bg" id="registrationContainer">

  <div class="form-devise">

    <div class="wrapper-registration">
      <div class="devise-header">
        <h2 class="mb-3">Let's get you Cuukin!</h2>
        <%= image_tag('devise-signup.svg', class:'devise-img') %>
      </div>

      <div class="wrapper-form">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <%= f.input :first_name,
                        required: true,
                        label: false,
                        placeholder: 'First Name',
                        input_html: { autocomplete: "first_name" }%>

            <%= f.input :last_name,
                        label: false,
                        placeholder: 'Last Name (optional)',
                        input_html: { autocomplete: "last_name" }%>

            <%= f.input :email,
                        required: true,
                        label: false,
                        placeholder: 'Email',
                        input_html: { autocomplete: "email" }%>

            <div class="password-holder">
              <i class="far fa-eye-slash toggle-password"></i>
              <%= f.input :password,
                          required: true,
                          label: false,
                          placeholder: 'Password',
                          hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                          input_html: { autocomplete: "new-password", class: "my-password" } %>
            </div>

            <div class="terms-of-service mt-3">
              <i class="fas fa-check-square"></i>
              <p>I agree to the <span id="termsOfServiceBtn">Terms & Conditions</span></p>
            </div>
          </div>

          <div class="form-actions mt-3">
            <%= f.button :submit, "Sign Up", class: 'primary-btn mr-1' %>
          </div>
        <% end %>

        <div class="devise-extra-links mt-4">
          <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, method: :post %>
          <p class="text-center">Already have an account?<br><%= link_to "Log In", new_user_session_path, class: 'devise-p' %></p>
        </div>
      </div>
    </div>
  </div>
</div>
