<div class="recipe-validation-modal" id="unblockModal">
  <div class="recipe-validation-modal-content">
    <%= image_tag('btn-close-rounded.svg', class: 'modal-close-btn', id: 'closeUnblockModal') %>

    <%= simple_form_for(@lesson_unblock, url: lesson_lesson_unblocks_path(@lesson), method: 'post') do |f| %>
      <%= f.error_notification %>
      <%= f.input :reason %>
      <%= f.button :submit, 'Unblock Lesson ðŸª', class: 'primary-btn' %>

    <% end %>
  </div>
</div>
