<div class="grocery-list-navbar">
  <div class="nb-builder">
    <h1>Build your list</h1>
  </div>
  <div class="nb-list active">
    <h1>Your Grocery List</h1>
  </div>
</div>

<div class="container-grocery-list">
  <% if @grocery_list.scheduled_reminder %>
    <p>Kin will email the list on <span><%= @grocery_list.scheduled_reminder.strftime(" %d/%m/%y at 5 PM (%Z)")%></span></p>
  <% else %>
    <div class="reminder-container">
      <h2>Set a reminber</h2>
      <p>Kin will email you at...</p>
    </div>
  <% end %>

  <div class="list-container">
    <div class="list-container-header">
      <h2>This week's list</h2>
      <%= link_to "Clear list", grocery_list_path(@grocery_list.id), method: :delete, remote: true, id: "destroyList" %>
    </div>

    <% unless @grocery_list.grocery_list_items.empty? %>
      <div class="list-content">
        <table>
          <% @grocery_list.grocery_list_items.each do |item| %>
            <tr class="item-<%= item.id %>">
              <td class="item-measure"><%= "#{item.quantity} #{item.unit}" %></td>
              <td><%= item.ingredient.name %></td>
              <td class="item-btns"><%= icon('fas', 'info-circle', class: 'openInfo', id: "info-#{item.ingredient.id}") if item.ingredient.content.present? %> <%= link_to icon('far', 'trash-alt'), grocery_list_item_path(item.id), method: :delete, remote: true, class: "destroyItem", id: "item-#{item.id}" %></td>
            </tr>
          <% end %>
        </table>
      </div>

      <%= render 'grocery_lists/ingredient_info', ingredients: @grocery_list.ingredients %>
    <% end %>
  </div>
</div>
