<div class="user-badges-container">
  <h4>Ingredient badges</h4>
  <div class="user-awards-container">
    <% @ingredient_badges.each do |user_badge| %>
      <%= link_to user_badge_path(user_badge) do %>
        <div class="user-badge-container">
          <% if user_badge.medal == 'white' %>
            <%= image_tag("#{user_badge.badge.white}", class: 'badge1') %>
          <% elsif user_badge.medal == 'bronze' %>
            <%= image_tag("#{user_badge.badge.bronze}", class: 'badge1') %>
          <% end %>

          <%= image_tag("#{user_badge.badge.icon}", class: 'badge2') %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="user-badges-container">
  <h4>Equipment badges</h4>
  <div class="user-awards-container">
    <% @tool_badges.each do |user_badge| %>
      <%= link_to user_badge_path(user_badge) do %>
        <div class="user-badge-container">
          <% if user_badge.medal == 'white' %>
            <%= image_tag("#{user_badge.badge.white}", class: 'badge1') %>
          <% elsif user_badge.medal == 'bronze' %>
            <%= image_tag("#{user_badge.badge.bronze}", class: 'badge1') %>
          <% end %>

          <%= image_tag("#{user_badge.badge.icon}", class: 'badge2') %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="user-badges-container">
  <h4>Technique badges</h4>
  <div class="user-awards-container">
    <% @technique_badges.each do |user_badge| %>
      <%= link_to user_badge_path(user_badge) do %>
        <div class="user-badge-container">
          <% if user_badge.medal == 'white' %>
            <%= image_tag("#{user_badge.badge.white}", class: 'badge1') %>
          <% elsif user_badge.medal == 'bronze' %>
            <%= image_tag("#{user_badge.badge.bronze}", class: 'badge1') %>
          <% end %>

          <%= image_tag("#{user_badge.badge.icon}", class: 'badge2') %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
