<div class="user-awards-container">
  <% @user_badges.each do |user_badge| %>
    <%= link_to user_badge_path(user_badge) do %>
      <div class="user-badge-container">
        <% if user_badge.medal == 'white' %>
          <%= image_tag("#{user_badge.badge.white}", class: 'badge1') %>
        <% elsif user_badge.medal == 'bronze' %>
          <%= image_tag("#{user_badge.badge.bronze}", class: 'badge1') %>
        <% elsif user_badge.medal == 'silver' %>
          <%= image_tag("#{user_badge.badge.silver}", class: 'badge1') %>
        <% end %>

        <%= image_tag("#{user_badge.badge.icon}", class: 'badge2') %>
      </div>
    <% end %>
  <% end %>
</div>
