<div class="recipe-diary-modal userRecipe<%= user_recipe.id %>">
  <% validation = LessonValidation.find_by(user: current_user, recipe: user_recipe.recipe) %>

  <div class="recipe-diary-modal-content">
    <%= image_tag('btn-close-rounded.svg', class: 'recipe-diary-modal-close-btn') %>

    <h1>Recipe Diary Entry</h1>
    <h2><%= user_recipe.recipe.title %></h2>

    <ul class="recipe-diary-details">
      <li>
        <%= image_tag('lv-date.svg') %>
        <%= user_recipe.created_at.strftime("%d/%m/%y") %>
      </li>
      <li>
        <%= image_tag('lv-time.svg') %>
        <%= user_recipe.recipe.prep_time %>
      </li>
      <li>
        <%= image_tag('lv-level.svg') %>
        Level <%= Book.levels[validation.lesson.book.level] %>
      </li>
    </ul>

    <div class="recipe-diary-overview">
      <div class="feedback mr-1">
        <h3>Your feedback</h3>
        <% if user_recipe.difficulcy %>
          <div class="difficulcy-feedback">
            <%= image_tag("lv-icon-#{user_recipe.difficulcy}.svg") %>
            <% if user_recipe.difficulcy == 'easy' %>
              <p>"Piece of cake"</p>
            <% elsif user_recipe.difficulcy == 'medium' %>
              <p>"Just right"</p>
            <% else %>
              <p>"Burnt it all"</p>
            <% end %>
          </div>
        <% else %>
          <p class="mt-3">No feedback</p>
        <% end %>
      </div>
      <div class="expert-review ml-1">
        <h3>Expert review</h3>
        <h4>?</h4>
      </div>
    </div>

    <div class="recipe-diary-notes">
      <h3>Your notes</h3>
      <% if user_recipe.notes.empty? %>
        <p>Looks like you didn't leave any notes :(</p>
      <% else %>
        <p><%= user_recipe.notes %></p>
      <% end %>
    </div>

    <% if user_recipe.recipe.external_url %>
      <%= link_to "Make this recipe again", user_recipe.recipe.external_url, target: '_blank', class: 'primary-btn'  %>
    <% else %>
      <%= link_to "Make this recipe again", lesson_path(Lesson.find(validation.lesson.id)), class: 'primary-btn' %>
    <% end %>
  </div>
</div>
