<div class="recipes-cards-container" id="unlockedRecipes">
  <% @unlocked_recipes.each do |user_recipe| %>

    <div class="recipe-card">
      <% unless user_recipe.recipe.external_url %>
        <%= link_to lesson_path(Lesson.find_by(recipe: user_recipe.recipe)) do %>
          <div class="recipe-card-image" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.4)), url('<%= image_path("#{user_recipe.recipe.photo_url}") %>')">
            <div class="recipe-card-info">
              <% if user_recipe.recipe.external_url %>
                <%= image_tag('recipe-url.svg') %>
                <p>External link</p>
              <% else %>
                <%= image_tag('recipe-time.svg') %>
                <p><%= user_recipe.recipe.prep_time %></p>
              <% end %>
            </div>
          </div>
        <% end %>
        <p><%= user_recipe.recipe.title %></p>
      <% else %>
        <%= link_to "#{user_recipe.recipe.external_url}", target: "_blank" do %>
          <div class="recipe-card-image" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.4)), url('<%= image_path("#{user_recipe.recipe.photo_url}") %>')">
            <div class="recipe-card-info">
              <% if user_recipe.recipe.external_url %>
                <%= image_tag('recipe-url.svg') %>
                <p>External link</p>
              <% else %>
                <%= image_tag('recipe-time.svg') %>
                <p><%= user_recipe.recipe.prep_time %></p>
              <% end %>
            </div>
          </div>
        <% end %>
        <p><%= user_recipe.recipe.title %></p>
      <% end %>
    </div>

  <% end %>
</div>
