<div class="recipe-diary-modal userRecipe<%= user_recipe.id %>">
  <div class="recipe-diary-modal-content">
    <%= image_tag('btn-close-rounded.svg', class: 'recipe-diary-modal-close-btn') %>
    <h1>Would you like to...</h1>
    <div class="unlocked-recipe-content">
      <%= link_to recipe_path(user_recipe.recipe) do %>
        <%= image_tag('recipe-unlocked-01.svg') %>
      <% end %>
      <%= link_to edit_user_recipe_path(user_recipe) do %>
        <%= image_tag('recipe-unlocked-02.svg') %>
      <% end %>
    </div>
  </div>
</div>
