<div class="recipes-container">

  <div class="recipes-navbar">
    <h4 class="recipe-navbar-active" id="completedBtn">Completed Recipes</h4>
    <h4 id="unlockedBtn">Unlocked Recipes</h4>
  </div>

  <%= render 'unlocked' %>

  <div class="recipes-cards-container" id="completedRecipes">
    <% @completed_recipes.each do |user_recipe| %>
      <%= render 'recipe_diary', user_recipe: user_recipe %>

      <div class="recipe-card" id="userRecipe<%= user_recipe.id %>">
        <div class="recipe-card-image" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.4)), url('<%= image_path("#{user_recipe.recipe.photo_url}") %>')">
          <div class="recipe-card-info">
            <% if user_recipe.recipe.external_url %>
              <%= image_tag('recipe-url.svg') %>
              <p>External link</p>
            <% else %>
              <%= image_tag('recipe-time.svg') %>
              <p><%= user_recipe.recipe.prep_time %></p>
            <% end %>
          </div>
        </div>
        <p><%= user_recipe.recipe.title %></p>
      </div>

    <% end %>
  </div>

</div>

