<%= render template: 'feedbacks/new' %>
<%= image_tag("btn-feedback.svg", class: 'btn-open-feedback', id: 'openFeedbackBtn') %>

<div class="cuukbook-navbar-container">
  <div class="recipe-navbar recipe-navbar-active" id="completedBtn">
    <h1>Completed Recipes</h1>
  </div>
  <div class="recipe-navbar" id="unlockedBtn">
    <h1>Unlocked Recipes</h1>
  </div>
</div>

<div class="recipes-container">

  <% if @completed_recipes.empty? %>
    <p class="text-center">Oops, you don't have any recipes yet.<br><%= link_to "Start cooking", books_path %> to earn some.</p>
  <% else %>
    <%= form_tag(user_recipes_path, method: :get, remote: true) do %>
      <div class="search-double-form">
        <%= text_field_tag :query,
          params[:query],
          class: "form-control search-form-control",
          placeholder: "Find a recipe by title or ingredient" %>
        <%= submit_tag "Search", class: "primary-btn", id: 'searchRecipe' %>
      </div>
    <% end %>

    <div class="recipes-cards-container d-none" id="completedRecipes">
      <%= render 'completed_recipes' %>
    </div>

    <div class="recipes-cards-container d-none" id="unlockedRecipes">
      <%= render 'unlocked_recipes' %>
    </div>

    <div class="user-skills-container" id="userSkills">
      <%= render template: 'user_skills/index' %>
    </div>

    <div class="recipes-cards-container d-none" id="searchedRecipes">
    </div>
  <% end %>

</div>

