<div class="recipe-modal ingredient-swap-modal" id="<%= recipe_ingredient.id %>">
  <div class="recipe-modal-content">

    <div class="help-heading">
      <%= image_tag('lesson-important.svg') %>
      <p>What alternative ingredient can I use?</p>
    </div>

    <p>Pick your preferred ingredient</p>

    <% recipe_ingredient.recipe_ingredient_swaps.each do |swap| %>
      <p class="secondary-btn swap-ingredient" id="<%= swap.ingredient.name %>" data-ingredient-quantity="<%= swap.quantity %>" data-ingredient-unit="<%= swap.unit %>"><%= swap.ingredient.name %></p>
    <% end %>

    <p class="secondary-btn swap-ingredient" id="<%= recipe_ingredient.ingredient.name %>" data-ingredient-quantity="<%= recipe_ingredient.quantity %>" data-ingredient-unit="<%= recipe_ingredient.unit %>"><%= recipe_ingredient.ingredient.name %></p>

  </div>
</div>
