<!-- RECIPE OVERVIEW -->

<div class="container-recipe-overview recipe-<%= @recipe.id %>">

  <div class="recipe-overview-btn">
    <% if request.referrer == "#{request.protocol}#{request.host_with_port}#{url_for(action: 'index', controller: 'user_recipes')}" %>
      <%= link_to user_recipes_path do %>
        <%= image_tag('btn-close-rounded.svg', class: 'btn-back') %>
      <% end %>
    <% else %>
      <%= link_to lesson_path(@recipe.lessons.first) do %>
        <%= image_tag('btn-close-rounded.svg', class: 'btn-back') %>
      <% end %>
    <% end %>
  </div>

  <div class="recipe-photo">
    <%= image_tag("#{@recipe.photo_url}") %>
  </div>

  <div class="card-recipe-overview">
    <%= image_tag('lesson-dash.svg', class: 'card-dash') %>
    <h2 class="text-center <%= "turquise" if @recipe.external_url %>"><%= @recipe.title %></h2>

    <ul class="recipe-overview-details">
      <li>
        <%= image_tag('lesson-time.svg', class: 'lesson-icons') %>
        <%= @recipe.prep_time %>
      </li>
      <li>
        <%= image_tag('lesson-level.svg', class: 'lesson-icons') %>
        Level <%= Book.levels[@lesson.book.level] %>
      </li>
    </ul>

    <% unless @recipe.dietary_restrictions.empty? %>
      <ul class="recipe-overview-details dietary-restrictions">
        <% @recipe.dietary_restrictions.each do |diet| %>
          <li>
            <%= image_tag("#{diet.icon}", class: 'lesson-icons') %>
            <%= diet.name %>
          </li>
        <% end %>
      </ul>
    <% end %>


    <% unless @recipe.recipe_ingredients.empty? %>
      <div class="ingredients-header">
        <div class="recipe-overview-serving">
          <%= image_tag('btn-decrease.svg', class: 'serving-btn serving-minus', id: 'minusBtn') %>
          <p class="serving-paragraph">1</p>
          <%= image_tag('lesson-serving.svg', class: 'serving-icon') %>
          <%= image_tag('btn-increase.svg', class: 'serving-btn serving-plus', id: 'plusBtn') %>
        </div>

        <div class="unit-conversion-btn">
          <span class="unit unitSelected" id="metric-toggle"><p>Metric</p></span>
          <span class="unit" id="imperial-toggle"><p>Imperial</p></span>
        </div>
      </div>

      <div class="recipe-overview-ingredients">
        <h3>Ingredients</h3>
        <table>
          <% @recipe.recipe_ingredients.order(:id).each do |r_ingredient| %>
            <tr>
              <td class="ingredient-measure <%= "measure-#{r_ingredient.id}" %> <%= r_ingredient.id %>" data-ingredient-quantity="<%= r_ingredient.quantity %>" data-ingredient-unit="<%= r_ingredient.unit %>">
                <span class="ingredient-quantity quantity-<%= r_ingredient.id %> <%= r_ingredient.id %>"><%= r_ingredient.quantity %></span> <span class="ingredient-unit unit-<%= r_ingredient.id %> <%= r_ingredient.id %>"><%= r_ingredient.unit %></span>
              </td>

              <td class="ingredient-name ingredient-<%= r_ingredient.id %> <%= r_ingredient.id %>"><%= r_ingredient.ingredient.name %></td>

              <% unless r_ingredient.recipe_ingredient_swaps.empty? %>
                <td class="ingredient-swap-btn <%= r_ingredient.id %>"><%= icon('fas', 'sync-alt') %> Swap</td>
                <%= render 'recipes/ingredient_swap_popup', recipe_ingredient: r_ingredient %>
              <% end %>
            </tr>
          <% end %>
        </table>

        <%= render 'recipes/grocery_list_item_builder', recipe_ingredients: @recipe.recipe_ingredients.order(:id) %>
      </div>
    <% end %>

    <% unless @recipe.recipe_tools.empty? %>
      <div class="recipe-overview-equipment">
        <h3>Equipment needed</h3>
        <table>
          <% @recipe.recipe_tools.order(:id).each do |r_tool| %>
            <tr>
              <td class="equipment-name">
                <% if r_tool.tool.suggested_product %>
                  <%= link_to "#{r_tool.tool.suggested_product}", target: "_blank" do %>
                    <%= r_tool.tool.name %>
                    <%= icon('fas', 'external-link-alt') %>
                  <% end %>
                <% else %>
                  <%= r_tool.tool.name %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>

        <div class="recipe-important">
          <%= image_tag('lesson-important.svg') %>
          <p>Don't have one of these? Click on any to see Kin's recommendation on what to get</p>
        </div>
      </div>
    <% end %>

    <% unless @recipe.recipe_nutritional_infos.empty? %>
      <div class="recipe-overview-nutri">
        <div class="nutri-header">
          <h3 class="nutri-btn">Nutritional data per serving</h3>
          <%= image_tag('btn-expand.svg', class: 'nutri-show-btn') %>
        </div>

        <div class="nutri-content">
          <ul>
            <% @recipe.recipe_nutritional_infos.each do |nutri_data| %>
              <li>
                <p class="nutri-data"><%= nutri_data.value %></p>
                <p class="nutri-metric"><%= nutri_data.nutrient %></p>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <div class="recipe-overview-skills">
      <h3>Skills practiced</h3>
      <ul>
        <% @lesson.skill_chapters.each do |skill_chapter| %>
          <li>
            <div class="badge-container badge-btn <%= skill_chapter.badge.id %>">
              <%= image_tag("#{skill_chapter.badge.white}", class: 'badge1') %>
              <%= image_tag("#{skill_chapter.badge.icon}", class: 'badge2') %>
            </div>
            <p class="skill-p"><%= skill_chapter.title %></p>
          </li>
          <%= render 'recipes/badge', badge: skill_chapter.badge %>
        <% end %>
      </ul>
    </div>

    <div class="double-btn">
      <p class="secondary-btn mr-1 recipe-<%= @recipe.id %>" id="addToGrocery">Add to Grocery List</p>
      <% if @validated || @available || @first %>
        <% if @recipe.external_url %>
          <%= link_to @recipe.external_url, target: '_blank' do %>
            <p class="primary-btn turquise-bg ml-1">Make Recipe <%= icon('fas', 'external-link-alt') %></p>
          <% end %>
        <% else %>
          <p class="primary-btn ml-1" id="makeRecipe">Make Recipe</p>
        <% end %>
      <% else %>
        <p class="disabled-btn ml-1">Recipe Locked</p>
      <% end %>
    </div>
  </div>
</div>

<!-- RECIPE METHODS -->

<div class="recipe-methods-container">
  <div class="recipe-methods-navbar">
    <%= image_tag('btn-back.svg', id: 'prevMethod') %>
    <div class="progression">
      <p>Practice</p>
      <div class="meter">
        <span class="meter-progression"></span>
      </div>
    </div>
    <%= image_tag('btn-forward.svg', class: 'nextMethod', id: 'nextMethod') %>
  </div>

  <div class="recipe-methods-container-cards">
    <% @recipe.recipe_methods&.order(:method_index).each_with_index do |recipe_method, index| %>
      <div class="recipe-method-card">
        <div class="recipe-method-video">
          <video class="methodVideo" src="<%= recipe_method.video_url %>" controls playsinline loop></video>
        </div>

        <div class="recipe-method-content-card">
          <div class="recipe-method-content-header">
            <div class="recipe-header-left">
              <h4><%= @recipe.title %></h4>
              <h2><%= "Step #{index + 1} / #{@recipe.recipe_methods.count} #{recipe_method.title}" %></h2>
            </div>
          </div>

          <div class="recipe-method-content">
            <div class="recipe-method-ingredients">
              <h5><span><%= image_tag('recipe-ing-icon.svg') %></span> Ingredients</h5>
              <% @recipe.recipe_ingredients.order(:id).each do |recipe_ingredient| %>
                <% if recipe_ingredient.recipe_methods && recipe_ingredient.recipe_methods.split("-").include?("#{recipe_method.method_index}") %>
                  <p class="ingredient-measure <%= "measure-#{recipe_ingredient.id}" %>" data-ingredient-quantity="<%= recipe_ingredient.quantity %>" data-ingredient-unit="<%= recipe_ingredient.unit %>">
                    <span class="ingredient-quantity quantity-<%= recipe_ingredient.id %>"><%= recipe_ingredient.quantity %></span> <span class="ingredient-unit unit-<%= recipe_ingredient.id %>"><%= recipe_ingredient.unit %></span> <span class="ingredient-<%= recipe_ingredient.id %>"><%= recipe_ingredient.ingredient.name %></span>
                  </p>
                <% end %>
              <% end %>

              <h5 class="mt-3"><span><%= image_tag('recipe-tool-icon.svg') %></span> Equipments</h5>
              <% @recipe.recipe_tools.order(:id).each do |recipe_tool| %>
                <% if recipe_tool.recipe_methods && recipe_tool.recipe_methods.split("-").include?("#{recipe_method.method_index}") %>
                  <p><%= recipe_tool.tool.name %></p>
                <% end %>
              <% end %>
            </div>

            <div class="recipe-method-separator"></div>

            <div class="recipe-method-description">
              <p><%= recipe_method.description %></p>
            </div>
          </div>

          <% if index == @recipe.recipe_methods.count - 1 %>
            <%= link_to 'Complete', lesson_path(@recipe.lessons.first), class: 'primary-btn mt-5'  %>
          <% else %>
            <p class="primary-btn mt-5 nextMethod">Next Step</p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
