<div class="form-devise">
  <%= simple_form_for(current_user, url: user_path(current_user), method: 'patch') do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :photo, input_html: { class: 'd-none', id: 'photo-input' }, label_html: { class: 'upload-photo' }, label: '📷 Upload a photo' %>
      <%= image_tag "", width: 300, class: "hidden", id: "photo-preview" %>
      <%= f.input :first_name,
                  autofocus: true,
                  input_html: { autocomplete: "first_name" },
                  label: 'First Name' %>
      <%= f.input :last_name,
                  autofocus: true,
                  input_html: { autocomplete: "last_name" },
                  label: 'Last Name' %>
      <%= f.input :username,
                  autofocus: true,
                  input_html: { autocomplete: "username" } %>
      <%= f.input :bio,
                  autofocus: true,
                  input_html: { autocomplete: "bio", rows: '4', class: 'bio' },
                  label: 'Share a word about yourself',
                  placeholder: 'Learning how to cook to impress my friends' %>
    </div>

    <div class="form-actions mt-3 double-btn">
      <%= link_to "Cancel", user_path(current_user), class: 'secondary-btn mr-1' %>
      <%= f.button :submit, "Update", class: "primary-btn ml-1" %>
    </div>
  <% end %>
</div>
