<div class="form-devise-modal">
  <div class="form-devise-modal-content">

    <%= simple_form_for(current_user, url: user_path(current_user), method: 'patch') do |f| %>
      <%= f.error_notification %>

      <div class="form-group-photo">
        <!-- <p>Choose your avatar</p> -->
        <%= f.input :photo, input_html: { class: 'd-none', id: 'photo-input' }, label_html: { class: 'upload-photo' }, label: 'Upload a photo' %>
        <%= image_tag "", width: 300, class: "hidden", id: "photo-preview" %>
      </div>

      <div class="form-actions double-btn">
        <%= link_to "Cancel", user_path(current_user), class: 'secondary-btn mr-1', id: "photoCancel" %>
        <%= f.button :submit, "Update", class: "primary-btn ml-1", id: "photoUpdate", style: "display: none;" %>
      </div>
    <% end %>
  </div>
</div>
