<div class="leaderboard-container">
  <h1>Leaderboard</h1>
  <h3>Total <span>Stars</span> earned</h3>

  <div class="top-3-container">
    <div class="top-3-user-card">
      <div class="top-3-avatar-container">
        <%= link_to user_path(@top_3.second) do %>
          <%= image_tag("https://res.cloudinary.com/juliaf1/image/upload/v1617926201/Cuukin%20-%20Badges/circle-silver_gtnvyy.svg", class: 'top-3-avatar-badge') %>
          <% if @top_3.second.photo.attached? %>
            <%= cl_image_tag @top_3.second.photo.key, crop: :fill, class: 'top-3-avatar' %>
          <% else %>
            <%= image_tag "https://ui-avatars.com/api/?name=#{@top_3.second.first_name}", class: 'top-3-avatar' %>
          <% end %>
        <% end %>
      </div>
      <h4 class="top-3-user-xp"><%= @top_3.second.xp %></h4>
      <h4 class="top-3-user-username">@<%= link_to @top_3.second.username, user_path(@top_3.second) %></h4>
    </div>

    <div class="top-3-user-card">
      <div class="top-3-avatar-container" id="top1AvatarContainer">
        <%= link_to user_path(@top_3.first) do %>
          <%= image_tag("https://res.cloudinary.com/juliaf1/image/upload/v1617926201/Cuukin%20-%20Badges/circle-golden_ykq3dr.svg", class: 'top-3-avatar-badge') %>
          <% if @top_3.first.photo.attached? %>
            <%= cl_image_tag @top_3.first.photo.key, crop: :fill, class: 'top-3-avatar' %>
          <% else %>
            <%= image_tag "https://ui-avatars.com/api/?name=#{@top_3.first.first_name}", class: 'top-3-avatar' %>
          <% end %>
        <% end %>
        <%= image_tag("https://res.cloudinary.com/juliaf1/image/upload/v1617927896/golden_hat_njjpvd.svg", class: 'top-1-hat') %>
      </div>
      <h4 class="top-3-user-xp"><%= @top_3.first.xp %></h4>
      <h4 class="top-3-user-username">@<%= link_to @top_3.first.username, user_path(@top_3.first) %></h4>
    </div>

    <div class="top-3-user-card">
      <div class="top-3-avatar-container">
        <%= link_to user_path(@top_3.third) do %>
          <%= image_tag("https://res.cloudinary.com/juliaf1/image/upload/v1615337341/Cuukin%20-%20Badges/badge_bronze_ingredient_ldselt.svg", class: 'top-3-avatar-badge') %>
          <% if @top_3.third.photo.attached? %>
            <%= cl_image_tag @top_3.third.photo.key, crop: :fill, class: 'top-3-avatar' %>
          <% else %>
            <%= image_tag "https://ui-avatars.com/api/?name=#{@top_3.third.first_name}", class: 'top-3-avatar' %>
          <% end %>
        <% end %>
      </div>
      <h4 class="top-3-user-xp"><%= @top_3.third.xp %></h4>
      <h4 class="top-3-user-username">@<%= link_to @top_3.third.username, user_path(@top_3.third) %></h4>
    </div>
  </div>

  <div class="top-7-container">
    <% @top_7.each do |user| %>
      <%= link_to user_path(user) do %>
        <div class="top-7-user-card">
          <h4><%= @users.find_index(user).ordinalize %></h4>
          <div class="top-7-user-social">
            <% if user.photo.attached? %>
              <%= cl_image_tag user.photo.key, crop: :fill, class: 'top-7-user-avatar' %>
            <% else %>
              <%= image_tag "https://ui-avatars.com/api/?name=#{user.first_name}", class: 'top-7-user-avatar' %>
            <% end %>
            <p>@<%= user.username %></p>
          </div>
          <h4 class="top-7-user-xp"><%= user.xp %></h4>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
