<div class="profile-container">

  <div class="profile-info">
    <div class="profile-text-content">
      <h2><%= current_user.username %></h2>
      <h3>Level <%= User.levels[current_user.level] %></h3>
      <h4><%= current_user.level.capitalize %></h4>
      <%= link_to edit_user_registration_path(current_user) do %>
        <p><%= icon('fas', 'cog') %>Edit Profile</p>
      <% end %>
    </div>

    <div class="profile-image-content">
      <%= link_to edit_user_path(current_user) do %>
        <%= image_tag('btn-edit-photo.svg', class: 'edit-photo-btn') %>
        <% if current_user.photo.attached? %>
          <%= cl_image_tag current_user.photo.key, crop: :fill, class: 'user-img' %>
        <% else %>
          <%= image_tag "https://res.cloudinary.com/cuukin/image/upload/v1610757107/Cuukin%20-%20Avatar/ck_av_7_dkpysc.png", class: 'user-img' %>
        <% end %>
      <% end %>
    </div>
  </div>

  <hr class="">

  <div class="profile-heading">
    <hr>
    <h4>AWARDS</h4>
    <hr>
  </div>

  <% unless current_user.user_awards.empty? %>
    <%= render template: 'user_awards/index' %>
  <% else %>
    <div class="empty-container">
      <p>Oops, you don't have any awards yet.<br><%= link_to "Start cooking", books_path %> to earn some.</p>
    </div>
  <% end %>

  <div class="profile-heading">
    <hr>
    <h4>BADGES</h4>
    <hr>
  </div>

  <% unless current_user.user_badges.empty? %>
    <%= render template: 'user_badges/index' %>
  <% else %>
    <div class="empty-container">
      <p>Oops, you don't have any badges yet.<br><%= link_to "Start cooking", books_path %> to earn some.</p>
    </div>
  <% end %>

</div>
