<div class="profile-container">

  <div class="profile-info">
    <div class="profile-text-content">
      <h2><%= current_user.username %></h2>
      <h3>Level <%= current_user.level.capitalize %></h3>
      <%= link_to edit_user_path(current_user) do %>
        <p><%= icon('fas', 'cog') %>Edit Profile</p>
      <% end %>
    </div>

    <div class="profile-image-content">
      <% if current_user.photo.attached? %>
        <%= cl_image_tag current_user.photo.key, crop: :fill %>
      <% else %>
        <%= image_tag "https://ui-avatars.com/api/?name=#{current_user.first_name}+#{current_user.last_name}" %>
      <% end %>
    </div>
  </div>

  <hr class="">

  <div class="profile-heading">
    <hr>
    <h4>AWARDS</h4>
    <hr>
  </div>

  <div class="profile-heading">
    <hr>
    <h4>BADGES</h4>
    <hr>
  </div>

</div>
