<div class="user-skills-tags">
  <p class="secondary-btn">Techniques</p>
  <p class="secondary-btn">Ingredients</p>
  <p class="secondary-btn">Equipments</p>
</div>

<% @skills.each do |category, skills| %>

  <div class="recipes-cards-container" id="<%= category %>Container">
    <% skills.each do |skill| %>
      <div class="recipe-card" data-user-recipe="<%= skill.id %>">
        <div class="recipe-card-image user-skill-img" style="background-image: url('<%= image_path("#{skill.skill_chapter.badge.icon}") %>')">
          <div class="recipe-card-info-url">
            <p><%= skill.skill_chapter.badge.name %></p>
          </div>
        </div>
        <p><%= skill.skill_chapter.title %></p>
      </div>
    <% end %>
  </div>

<% end %>
