<div class="help-container" style="display: none;">

  <div class="help-card" id="helpCard1">
    <%= image_tag("btn-close-rounded.svg", class: 'btn-close') %>
    <%= image_tag("https://res.cloudinary.com/cuukin/image/upload/v1618349425/Cuukin%20-%20Public/help-1_zuqhqd.svg") %>

    <div class="help-content">
      <%= image_tag("https://res.cloudinary.com/cuukin/image/upload/v1618350204/Cuukin%20-%20Public/arrow_k27tgg.svg") %>
      <h1>How does this work?</h1>
      <ol>
        <li>Start your <span>Journey</span></li>
        <li>Open <span>Books</span> to explore lessons</li>
        <li>Jump on your <span>Lesson</span></li>
      </ol>
    </div>
  </div>

  <div class="help-card" id="helpCard2" style="display: none;">
    <%= image_tag("btn-close-rounded.svg", class: 'btn-close') %>
    <%= image_tag("https://res.cloudinary.com/cuukin/image/upload/v1618497608/Cuukin%20-%20Public/help-2-line_enttwb.svg", class: 'line') %>

    <div class="help-content">
      <%= image_tag("https://res.cloudinary.com/cuukin/image/upload/v1618497609/Cuukin%20-%20Public/help-2-phone_y3lrqp.png", class: 'phone') %>
      <h1>What is a Lesson?</h1>
      <p>1. Watch short <span>Skill Videos</span></p>
      <p>2. Buy ingredients for chosen <span>Recipe</span></p>
      <p>3. <span>Practice</span> by cooking our curated recipes</p>
    </div>
  </div>

  <div class="help-card" id="helpCard3" style="display: none;">
    <%= image_tag("btn-close-rounded.svg", class: 'btn-close') %>
    <%= image_tag("https://res.cloudinary.com/cuukin/image/upload/v1618497608/Cuukin%20-%20Public/help-2-line_enttwb.svg", class: 'line') %>

    <div class="help-content">
      <%= image_tag("https://res.cloudinary.com/cuukin/image/upload/v1618514957/Cuukin%20-%20Public/help-3-compete_qcfvg0.svg", class: 'compete') %>
      <h1>Discover other great features</h1>
      <%= image_tag("https://res.cloudinary.com/cuukin/image/upload/v1618514957/Cuukin%20-%20Public/help-3-grocery_k3u9ik.svg", class: 'grocery') %>
      <p class="grocery">Plan better with our grocery list builder</p>
      <p class="compete">Compete with your friends</p>
    </div>
  </div>

  <div class="btn-controls">
    <%= image_tag("btn-back.svg", class: 'btn-prev') %>
    <%= image_tag("btn-forward.svg", class: 'btn-forward') %>
  </div>

</div>
