<div class="help-container d-none" id="lessonHelp">

  <div class="help-card d-none" id="helpCard2">
    <%= image_tag("btn-close-rounded.svg", class: 'btn-close') %>
    <%= image_tag("https://res.cloudinary.com/cuukin/image/upload/v1618497608/Cuukin%20-%20Public/help-2-line_enttwb.svg", class: 'line') %>

    <div class="help-content">
      <%= image_tag("https://res.cloudinary.com/cuukin/image/upload/v1618497609/Cuukin%20-%20Public/help-2-phone_y3lrqp.png", class: 'phone') %>
      <h1>What is a Lesson?</h1>
      <p>1. Watch short <span>Skill Videos</span></p>
      <p>2. Buy ingredients for chosen <span>Recipe</span></p>
      <p>3. <span>Practice</span> by cooking our curated recipes</p>
    </div>
  </div>

  <div class="help-card d-none" id="helpCard3">
    <%= image_tag("btn-close-rounded.svg", class: 'btn-close') %>
    <%= image_tag("https://res.cloudinary.com/cuukin/image/upload/v1618497608/Cuukin%20-%20Public/help-2-line_enttwb.svg", class: 'line') %>

    <div class="help-content">
      <%= image_tag("https://res.cloudinary.com/cuukin/image/upload/v1618514957/Cuukin%20-%20Public/help-3-compete_qcfvg0.svg", class: 'compete') %>
      <h1>Discover other great features</h1>
      <%= image_tag("https://res.cloudinary.com/cuukin/image/upload/v1618514957/Cuukin%20-%20Public/help-3-grocery_k3u9ik.svg", class: 'grocery') %>
      <p class="grocery">Plan better with our grocery list builder</p>
      <p class="compete">Compete with your friends</p>
    </div>
  </div>

  <div class="btn-controls">
    <%= image_tag("btn-back.svg", class: 'btn-prev') %>
    <%= image_tag("btn-forward.svg", class: 'btn-forward') %>
  </div>

</div>
