<div class="container-center-pages">
  <div class="center-pages-content">
    <h1>Credits</h1>
    <p class="mb-4">Icons made by <%= link_to 'Freepik', 'https://www.freepik.com/', target: '_blank' %> from <%= link_to 'www.flaticon.com', 'https://www.flaticon.com/', target: '_blank' %> </p>
    <p class="mb-4">Illustrations by <%= link_to 'Katerina Limpitsouni', 'https://dribbble.com/NinaLimpi', target: '_blank' %> from <%= link_to 'www.undraw.co', 'https://undraw.co/', target: '_blank' %> </p>
    <p class="mb-4">Sounds effects obtained from <%= link_to 'www.zapsplat.com', 'https://www.zapsplat.com/', target: '_blank' %> </p>

    <div class="copyright mt-5">
      <%= image_tag('global-copyright.svg') %>
      <p>Cuukin 2020</p>
    </div>
  </div>
</div>
