<div class="home-carousel-container">

  <div class="home-carousel-slide">

    <div class="home-carousel-01">
      <%= image_tag('home-01.svg') %>
    </div>

    <div class="home-carousel-02">
      <%= image_tag('home-02.svg') %>
    </div>

    <div class="home-carousel-03">
      <%= image_tag('home-03.svg') %>
    </div>

    <div class="home-carousel-04">
      <%= image_tag('home-04.svg') %>
    </div>

    <div class="home-carousel-05">
      <%= image_tag('home-05.svg') %>
    </div>

  </div>

</div>
