<div class="body-white-bg">
  <div class="home-carousel-container" >

    <%= image_tag('btn-back.svg', class: 'home-btn-back', id: 'prevBtn') %>

    <div class="home-first-item">
      <%= image_tag('home-00.svg', class:'carousel-img') %>
      <div class="home-carousel-item-content">
        <h2>Cooking school at your fingertips</h2>
        <p>Learn. Cook. Have Fun.</p>
      </div>

      <div class="carousel-primary-btns">
        <p class="primary-btn" id="registerBtn">Register</p>
        <%= link_to 'Log-in', new_user_session_path, class: 'secondary-btn' %>
      </div>
    </div>

    <div class="home-carousel-item">
      <%= image_tag('home-01.svg', class:'carousel-img') %>
      <div class="home-carousel-item-content">
        <h2>Frustrated about the meals you make?</h2>
        <p>Recipes are challenging without the right skills and it's no fun when your dish does not come out the right way (again)</p>
      </div>
    </div>

    <div class="home-carousel-item">
      <div class="home-carousel-item-content">
        <h2 class="carousel-item-2-heading">Let's start your cooking journey together</h2>
        <div class="content-wrap">
          <h3>1</h3>
          <p>Start your cooking journey by learning the <span>building block skills</span> you need</p>
          <%= image_tag('home-image-1.png') %>
        </div>
        <div class="content-wrap">
          <h3>2</h3>
          <p>Put the skills to practice with our <span>curated recipes & earn rewards</span> on the go</p>
          <%= image_tag('home-image-2.png') %>
        </div>
        <div class="content-wrap">
          <h3>3</h3>
          <p>Unlock more lessons, have <span>fun & level up to be the chef</span> you're meant to be</p>
          <%= image_tag('home-image-3.png') %>
        </div>
      </div>
    </div>

    <div class="home-carousel-nav">
      <%= image_tag('btn-next.svg', id: 'nextBtn') %>

      <div class='home-progress-bar'>
        <div class='circle'></div>
        <div class='circle circle-disabled'></div>
      </div>

      <div class="registerBtn" style="display: none;">
        <%= link_to 'Register to Cuuk!', new_user_registration_path, class: 'primary-btn', id: 'registerBtn' %>
      </div>
    </div>
  </div>
</div>
