<div class="home-carousel-container">

  <div class="home-carousel-slide">

      <%= image_tag('home-01.png', class:'carousel-img') %>

      <%= image_tag('home-02.png', class:'carousel-img') %>

      <%= image_tag('home-03.png', class:'carousel-img') %>

      <%= image_tag('home-04.png', class:'carousel-img', id: 'img04') %>

      <%= image_tag('home-05.png', class:'carousel-img') %>

  </div>

</div>

<div class="previous-btn" id="prevBtn"><i class="fas fa-chevron-left"></i></div>
<div class="next-btn" id="nextBtn"><i class="fas fa-chevron-right"></i></div>
