<div class="body-white-bg">
  <div class="home-carousel-container" >

    <%= image_tag('btn-back.svg', class: 'home-btn-back', id: 'prevBtn') %>

    <div class="home-carousel-slide">

      <div class="home-carousel-item" id="carousel-first-item">
        <%= image_tag('home-00.svg', class:'carousel-img') %>
        <div class="home-carousel-item-content">
          <h2>Cooking school at your fingertips</h2>
          <p>Learn. Cook. Have Fun.</p>
        </div>
      </div>

    </div>

    <div class="carousel-primary-btns">
      <!-- <p class="primary-btn" id="startBtn">Register</p> -->
      <%= link_to 'Register', new_user_registration_path, class: 'primary-btn', id: 'registerBtn' %>
      <%= link_to 'Log-in', new_user_session_path, class: 'secondary-btn' %>
    </div>

    <div class="home-carousel-nav">
      <div class='home-progress-bar'>
        <div class='circle'></div>
        <div class='circle circle-disabled'></div>
        <div class='circle circle-disabled'></div>
        <div class='circle circle-disabled'></div>
        <div class='circle circle-disabled'></div>
      </div>

      <%= image_tag('btn-next.svg', id: 'nextBtn') %>

      <div class="registerBtn">
        <%= link_to 'Register to Cuuk!', new_user_registration_path, class: 'primary-btn', id: 'registerBtn' %>
      </div>

    </div>
  </div>
</div>
