<!-- first div with general info + btn to start lesson -->

<div class="container-lesson-overview">
  <div class="lesson-photo" style="background-image: url('<%= image_path "lesson-photo.png"%>')">
  </div>

  <div class="card-lesson-overview">
    <%= image_tag('lesson-dash.svg', class: 'lesson-dash') %>
    <h2 class="text-center">Balsamic Carrots</h2>

    <ul class="lesson-overview-details">
      <li>
        <%= image_tag('lesson-time.svg', class: 'lesson-icons') %>
        60 min
      </li>
      <li>
        <%= image_tag('lesson-level.svg', class: 'lesson-icons') %>
        Level 1
      </li>
      <li>
        <%= image_tag('lesson-ingredient.svg', class: 'lesson-icons') %>
        Eggs
      </li>
    </ul>

    <div class="lesson-overview-serving">
      <%= image_tag('minus-btn.svg', class: 'serving-btn', id: 'minusBtn') %>
      <%= image_tag('lesson-serving.svg') %>
      <p>1 serving(s)</p>
      <%= image_tag('plus-btn.svg', class: 'serving-btn', id: 'plusBtn') %>
    </div>

    <div class="lesson-overview-skills">
      <h3>Skills practiced</h3>
      <ul>
        <li>
          <%= image_tag('lesson-skill.png') %>
          Eggs 101
        </li>
        <li>
          <%= image_tag('lesson-skill.png') %>
          Frying basics
        </li>
        <li>
          <%= image_tag('lesson-skill.png') %>
          Frying pan
        </li>
        <li>
          <%= image_tag('lesson-skill.png') %>
          Oils
        </li>
      </ul>
    </div>

    <div class="lesson-overview-nutri">
      <h3>Nutritional data per serving</h3>
      <ul>
        <li>
          <p class="nutri-data">356</p>
          <p class="nutri-metric">kcal</p>
        </li>
        <li>
          <p class="nutri-data">2.5</p>
          <p class="nutri-metric">fat</p>
        </li>
        <li>
          <p class="nutri-data">4.2</p>
          <p class="nutri-metric">protein</p>
        </li>
        <li>
          <p class="nutri-data">45</p>
          <p class="nutri-metric">carbs</p>
        </li>
      </ul>
    </div>

    <div class="lesson-overview-equipment">
      <h3>Equipment needed</h3>
      <table>
        <tr>
          <td class="equipment-measure">1x</td>
          <td>Non-stick pan (e.g. teflon)</td>
        </tr>
        <tr>
          <td class="equipment-measure">1x</td>
          <td>Spatula (silicone or wood tip)</td>
        </tr>
        <tr>
          <td class="equipment-measure">1x</td>
          <td>Large bowl (can contain 3 eggs)</td>
        </tr>
      </table>

      <div class="lesson-important">
        <%= image_tag('lesson-important.svg') %>
        <p>Don't have one of these? Click on any to see Kin's recommendation on what to get</p>
      </div>
    </div>

    <div class="lesson-overview-ingredients">
      <h3>Ingredients</h3>
      <table>
        <tr>
          <td class="ingredient-measure">3</td>
          <td>Eggs (large, free range)</td>
        </tr>
        <tr>
          <td class="ingredient-measure">1 tbsp</td>
          <td>Butter (room temperature) | olive oil | canola oil</td>
        </tr>
        <tr>
          <td class="ingredient-measure">1 tbsp</td>
          <td>Salt & pepper</td>
        </tr>
        <tr>
          <td class="ingredient-measure">Dash</td>
          <td>Truffle oil</td>
        </tr>
      </table>
    </div>

    <p class="primary-btn" style="cursor: pointer;" id="startLesson">Start the Lesson</p>
  </div>
</div>

<!-- overflow hidden container with all skill chapters -->
<div class="container-lesson-content">
  <div class="card-lesson-chapter">

  </div>
</div>

<!-- overflow hidden container with all recipe methods -->
<div class="container-lesson-recipe">
  <div class="card-lesson-recipe">

  </div>
</div>
