<%= render 'shared/help' %>

<div class="journey-container">

  <%= image_tag("btn-help.svg", class: 'btn-open-help') %>
  <%= image_tag("journey-map.svg", class: 'journey-map') %>

  <div class="journey-books">

    <% @books.each do |book| %>
      <div class="book-<%= book.id %>">
        <%= link_to book_path(book) do %>
          <%= image_tag("#{book.icon_url}", id: "book-#{book.id}") %>
        <% end %>
        <%= render 'book', lessons: book.lessons %>
      </div>
    <% end %>

  </div>

</div>
