<%= render 'shared/help_journey' %>
<%= render template: 'feedbacks/new' %>

<div class="journey-container">

  <%= image_tag("btn-help.svg", class: 'btn-open-help', id: 'journeyHelpBtn') %>
  <%= image_tag("btn-feedback.svg", class: 'btn-open-feedback', id: 'openFeedbackBtn') %>
  <%= image_tag("journey-map.svg", class: 'journey-map') %>

  <div class="journey-books">

    <% @books.each do |book| %>
      <div class="book-<%= book.id %>">
        <%= link_to book_path(book) do %>
          <%= render 'progress_ring', book: book, val: @validations %>
          <%= image_tag("#{book.icon_url}", id: "book-#{book.id}") %>
        <% end %>
        <%= render 'book', lessons: book.lessons %>
      </div>
    <% end %>

  </div>

</div>
