<%= render template: 'feedbacks/new' %>

<div class="book-navbar">
  <%= link_to books_path do %>
    <%= image_tag("btn-back.svg") %>
  <% end %>
  <h1><%= @book.title %></h1>
</div>

<div class="container-book-lesson">

  <%= image_tag("btn-feedback.svg", class: 'btn-open-feedback', id: 'openFeedbackBtn') %>

  <div class="container-lessons-cards">
    <% @lessons.each do |lesson| %>
      <%= link_to lesson_path(lesson) do %>

        <div class="container-lesson-card">
          <% if @validated.include?(lesson) %>
            <%= image_tag('lesson-3-done.svg') %>
            <div class="lesson-card">
              <p>Done - Hurray!</p>
              <h2><%= lesson.title %></h2>
            </div>
          <% elsif @skipped.include?(lesson) %>
            <%= image_tag('lesson-2-current.svg') %>
            <div class="lesson-card-current">
              <p>Next lesson</p>
              <h2><%= lesson.title %></h2>
            </div>
          <% elsif @lessons.first == lesson  %>
            <%= image_tag('lesson-2-current.svg') %>
            <div class="lesson-card-current">
              <p>Next lesson</p>
              <h2><%= lesson.title %></h2>
            </div>
          <% elsif @validated_lessons.include?(Lesson.find(lesson.id - 1)) %>
            <%= image_tag('lesson-2-current.svg') %>
            <div class="lesson-card-current">
              <p>Next lesson</p>
              <h2><%= lesson.title %></h2>
            </div>
          <% else %>
            <%= image_tag('lesson-1-blocked.svg') %>
            <div class="lesson-card">
              <p>Check out what's upcoming</p>
              <h2><%= lesson.title %></h2>
            </div>
          <% end %>
        </div>

      <% end %>
    <% end %>
  </div>

</div>
