<div class="container-book-lesson">

  <div class="book-info">
    <div class="book-info-text">
      <h1><%= @book.title %></h1>
      <p><%= @book.description %></p>
    </div>

    <%= image_tag('book-level-1.svg') %>
  </div>

  <div class="container-lessons-cards">
    <% @lessons.each do |lesson| %>
      <%= link_to lesson_path(lesson) do %>

        <div class="container-lesson-card">
          <% if @validated.include?(lesson) %>
            <%= image_tag('lesson-3-done.svg') %>
          <% elsif @skipped.include?(lesson) %>
            <%= image_tag('lesson-2-current.svg') %>
          <% elsif @lessons.first == lesson  %>
            <%= image_tag('lesson-2-current.svg') %>
          <% elsif @validated_lessons.include?(Lesson.find(lesson.id - 1)) %>
            <%= image_tag('lesson-2-current.svg') %>
          <% else %>
            <%= image_tag('lesson-1-blocked.svg') %>
          <% end %>

          <div class="lesson-card">
            <p>Duration: <%= lesson.recipe.prep_time %></p>
            <h2><%= lesson.title %></h2>
          </div>
        </div>

      <% end %>
    <% end %>
  </div>

</div>
