<div class="help-modal">
  <div class="help-modal-content">
    <%= image_tag('btn-close-rounded.svg', class: 'help-modal-close-btn') %>

    <div class="help-heading">
      <%= image_tag('lesson-important.svg') %>
      <p>How do lessons work?</p>
    </div>

    <%= image_tag('kin-tip.svg', class: 'help-icon') %>

    <div class="help-list">
      <div class="help-list-item">
        <%= image_tag('list1.svg') %>
        <p><span>Theory first:</span> Watch individual "Skill videos" related to each lesson</p>
      </div>

      <div class="help-list-item">
        <%= image_tag('list2.svg') %>
        <p><span>Take breaks:</span> No need to finish all the "Skill videos" on one go; come back  and resume the lesson at anytime</p>
      </div>

      <div class="help-list-item">
        <%= image_tag('list3.svg') %>
        <p><span>Put theory to practice:</span> Prepare the ingredients & equip before you start our cookalong "Recipe videos"</p>
      </div>

      <div class="help-list-item">
        <%= image_tag('list4.svg') %>
        <p><span>Snap a photo:</span> Validate lesson completion (to get rewards) by taking a photo of your final dish</p>
      </div>

    </div>
  </div>
</div>
