<div class="skill-chapters-navbar">

  <%= image_tag('btn-back.svg', class: 'nav-btn', id: 'prevChapter') %>

  <div class="skill-progression">
    <p>Skill Chapter</p>
    <div class="skill-checklist">
      <% skill_chapters.count.times do %>
        <div class="nav-check">
          <%= image_tag('lesson-3-done.svg', id: 'skillDone') %>
          <%= image_tag('lesson-2-current.svg', id: 'play') %>
        </div>
      <% end %>
    </div>
  </div>

  <%= image_tag('btn-forward.svg', class: 'nav-btn', id: 'nextChapter') %>

</div>

<div class="skill-chapters-container">
  <% skill_chapters.order(:id).each_with_index do |skill_chapter, index| %>

    <div class="skill-chapter-card <%= index %>" id="skillCard-<%= skill_chapter.id %>">

      <% unless skill_chapter.users.include?(current_user) %>
        <%= link_to "Completed", user_skills_path(user_skill: { skill_chapter_id: skill_chapter.id }), method: :post, remote: true, class: "invisible-skill-btn", id: "userSkill-#{skill_chapter.id}" %>
      <% end %>

      <div class="skill-chapter-video">
        <video class="skillVideo userSkill-<%= skill_chapter.id %>"  src="<%= skill_chapter.video_url %>" controls playsinline></video>
      </div>

      <div class="skill-chapter-content">
        <%= image_tag('lesson-dash.svg', class: 'card-dash') %>
        <h2 class="text-center"><%= skill_chapter.title %></h2>
        <p class="skill-description"><%= skill_chapter.description %></p>
      </div>

    </div>

  <% end %>
</div>
