<% skill_chapters.order(:id).each_with_index do |skill_chapter, index| %>
  <% unless skill_chapter.users.include?(current_user) %>
    <%= link_to "Completed", user_skills_path(user_skill: { skill_chapter_id: skill_chapter.id }), method: :post, remote: true, class: "invisible-skill-btn" %>
  <% end %>

  <div class="container-lesson-chapter">
    <div class="lesson-skill-video">
      <video class="skillVideo" src="<%= skill_chapter.video_url %>" controls playsinline></video>
    </div>

    <div class="card-lesson-chapter">
      <%= image_tag('lesson-dash.svg', class: 'card-dash') %>
      <h2 class="text-center"><%= skill_chapter.title %></h2>
      <h3>Transcription</h3>

      <div class="skill-description-container">
        <p class="skill-description"><%= skill_chapter.description %></p>
      </div>

      <% unless skill_chapters.last == skill_chapter  %>
        <p class="primary-btn lesson-next-btn" style="cursor: pointer;">Next video</p>
      <% else %>
        <p class="primary-btn" style="cursor: pointer;" id="startRecipe">Ready to Cuuk!</p>
      <% end %>
    </div>
  </div>

<% end %>
