<!-- first div with general info + btn to start lesson -->

<%= render 'shared/recipe_modal' %>
<%= render template: 'lesson_validations/new' %>

<div class="container-lesson-overview">
  <!-- <div class="lesson-prev-btn"> -->
  <%= link_to :back do %>
    <%= image_tag('btn-back.svg', class: 'btn-back') %>
  <% end %>

  <div class="lesson-photo" style="background-image: url('<%= image_path "#{@lesson.recipe.photo_url}"%>')">
  </div>

  <div class="card-lesson-overview">
    <%= image_tag('lesson-dash.svg', class: 'lesson-dash') %>
    <h2 class="text-center"><%= @lesson.title %></h2>

    <ul class="lesson-overview-details">
      <li>
        <%= image_tag('lesson-time.svg', class: 'lesson-icons') %>
        <%= @lesson.recipe.prep_time %>
      </li>
      <li>
        <%= image_tag('lesson-level.svg', class: 'lesson-icons') %>
        Level <%= @lesson.book.level.capitalize %>
      </li>
      <li>
        <%= image_tag('lesson-ingredient.svg', class: 'lesson-icons') %>
        Eggs
      </li>
    </ul>

    <div class="lesson-overview-serving">
      <%= image_tag('btn-decrease.svg', class: 'serving-btn', id: 'minusBtn') %>
      <%= image_tag('lesson-serving.svg') %>
      <p class="serving-paragraph">1 serving(s)</p>
      <%= image_tag('btn-increase.svg', class: 'serving-btn', id: 'plusBtn') %>
    </div>

    <div class="lesson-overview-skills">
      <h3>Skills practiced</h3>
      <ul>
        <li>
          <%= image_tag('lesson-skill.png') %>
          Eggs 101
        </li>
        <li>
          <%= image_tag('lesson-skill.png') %>
          Frying basics
        </li>
        <li>
          <%= image_tag('lesson-skill.png') %>
          Frying pan
        </li>
        <li>
          <%= image_tag('lesson-skill.png') %>
          Oils
        </li>
      </ul>
    </div>

    <div class="lesson-overview-ingredients">
      <h3>Ingredients</h3>
      <table>
        <tr>
          <td class="ingredient-measure"><span>3</span></td>
          <td>Eggs (large, free range)</td>
        </tr>
        <tr>
          <td class="ingredient-measure"><span>1</span> tbsp</td>
          <td>Butter (room temperature) | olive oil | canola oil</td>
        </tr>
        <tr>
          <td class="ingredient-measure"><span>1</span> tbsp</td>
          <td>Salt & pepper</td>
        </tr>
        <tr>
          <td class="ingredient-measure">Dash</td>
          <td>Truffle oil</td>
        </tr>
      </table>
    </div>

    <div class="lesson-overview-equipment">
      <h3>Equipment needed</h3>
      <table>
        <tr>
          <td class="equipment-measure">1x</td>
          <td>Non-stick pan (e.g. teflon)</td>
        </tr>
        <tr>
          <td class="equipment-measure">1x</td>
          <td>Spatula (silicone or wood tip)</td>
        </tr>
        <tr>
          <td class="equipment-measure">1x</td>
          <td>Large bowl (can contain 3 eggs)</td>
        </tr>
      </table>

      <div class="lesson-important">
        <%= image_tag('lesson-important.svg') %>
        <p>Don't have one of these? Click on any to see Kin's recommendation on what to get</p>
      </div>
    </div>

    <div class="lesson-overview-nutri">
      <div class="nutri-header">
        <h3>Nutritional data per serving</h3>
        <%= image_tag('btn-increase.svg', class: 'nutri-show-btn') %>
        <%= image_tag('btn-decrease.svg', class: 'nutri-hide-btn') %>
      </div>

      <div class="nutri-content">
        <ul>
          <li>
            <p class="nutri-data">356</p>
            <p class="nutri-metric">kcal</p>
          </li>
          <li>
            <p class="nutri-data">2.5</p>
            <p class="nutri-metric">fat</p>
          </li>
          <li>
            <p class="nutri-data">4.2</p>
            <p class="nutri-metric">protein</p>
          </li>
          <li>
            <p class="nutri-data">45</p>
            <p class="nutri-metric">carbs</p>
          </li>
        </ul>
      </div>
    </div>

    <p class="primary-btn" style="cursor: pointer;" id="startLesson">Start the Lesson</p>
  </div>
</div>

<!-- overflow hidden container with all skill chapters -->
<div class="container-lesson">
  <%= image_tag('btn-back.svg', class: 'btn-back', id: 'prev-chap-btn') %>

  <div class="meter">
    <span style="width: 25%"></span>
  </div>

  <div class="lesson-slide">

    <div class="container-lesson-chapter">
      <div class="lesson-skill-video">
        <video src="https://res.cloudinary.com/cuukin/video/upload/v1613661861/Cuukin-prot2_juwuht.mp4" controls></video>
      </div>

      <div class="card-lesson-chapter">
        <%= image_tag('lesson-dash.svg', class: 'lesson-dash') %>
        <h2 class="text-center">Carrots 101</h2>
        <h3>Summary</h3>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem</p>
        <p class="primary-btn lesson-next-btn" style="cursor: pointer;">Next video</p>
      </div>
    </div>

    <div class="container-lesson-chapter">
      <div class="lesson-skill-video">
        <video src="https://res.cloudinary.com/cuukin/video/upload/v1613661861/Cuukin-prot2_juwuht.mp4" controls></video>
      </div>

      <div class="card-lesson-chapter">
        <%= image_tag('lesson-dash.svg', class: 'lesson-dash') %>
        <h2 class="text-center">Seasoning basics</h2>
        <h3>Summary</h3>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem</p>
        <p class="primary-btn lesson-next-btn" style="cursor: pointer;" id="startRecipe">Ready to Cuuk!</p>
      </div>
    </div>

    <div class="container-lesson-recipe">
      <div class="lesson-recipe-video">
        <video src="https://res.cloudinary.com/cuukin/video/upload/v1613661861/Cuukin-prot2_juwuht.mp4" controls></video>
      </div>

      <div class="card-lesson-recipe">
        <div class="card-lesson-recipe-header">
          <div class="recipe-header-left">
            <h4>Balsamic Carrots</h4>
            <h2>Step 1 / 3</h2>
          </div>
          <%= image_tag('btn-next.svg', class: 'lesson-next-btn recipe-next-btn') %>
        </div>

        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem</p>
      </div>
    </div>

    <div class="container-lesson-recipe">
      <div class="lesson-recipe-video">
        <video src="https://res.cloudinary.com/cuukin/video/upload/v1613661861/Cuukin-prot2_juwuht.mp4" controls></video>
      </div>

      <div class="card-lesson-recipe">
        <div class="card-lesson-recipe-header">
          <div class="recipe-header-left">
            <h4>Balsamic Carrots</h4>
            <h2>Step 2 / 3</h2>
          </div>
          <%= image_tag('btn-next.svg', class: 'lesson-next-btn recipe-next-btn') %>
        </div>

        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem</p>
      </div>
    </div>

    <div class="container-lesson-recipe">
      <div class="lesson-recipe-video">
        <video src="https://res.cloudinary.com/cuukin/video/upload/v1613661861/Cuukin-prot2_juwuht.mp4" controls></video>
      </div>

      <div class="card-lesson-recipe">
        <div class="card-lesson-recipe-header">
          <div class="recipe-header-left">
            <h4>Balsamic Carrots</h4>
            <h2>Step 3 / 3</h2>
          </div>
        </div>

        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem</p>

        <% if @user_validations.include?(@lesson) %>
          <p class="primary-btn disabled" style="cursor: pointer;">Lesson Validated</p>
        <% else %>
          <p class="primary-btn" style="cursor: pointer;" id="completeLesson">Complete Lesson</p>
        <% end %>
      </div>
    </div>

  </div>
</div>

<!-- overflow hidden container with all recipe methods -->
