<div class="feedback-form">
  <%= simple_form_for(@feedback, url: feedbacks_path(@feedback), method: 'post', remote: true) do |f| %>
    <%= f.error_notification %>

      <h3>Let's talk!</h3>
      <p>Have an idea of how we can improve Cuukin? Stumbled on any bugs?
      We'd love to hear from you, please leave us a message.</p>

      <%= f.input :email,
        label: "Your email",
        input_html: {value: f.object.email || current_user.email} %>

      <%= f.input :description,
        label: "Leave a feedback",
        input_html: { rows: '8', id: 'feedbackInput' } %>

      <%= f.button :submit, 'Send feedback', class: 'disabled-btn', id: 'sendFeedbackBtn' %>

  <% end %>
</div>
