<div class="currency-modal" id="award<%= award.id %>" style="display: none;">
  <div class="currency-modal-content">
    <%= image_tag('btn-close-rounded.svg', class: 'currency-modal-close-btn') %>

    <div class="user-badge-container badge-popup">
      <%= image_tag("#{award.icon}", class: 'b-icon', id: 'badge-icon') %>
    </div>

    <h1 class="badge-name"><%= award.name %></h1>

    <div class="currency-text-content">
      <p><%= award.description %></p>
    </div>
  </div>
</div>
