<div class="currency-modal" style="display: block;">
  <div class="currency-modal-content">
    <%= link_to user_path(current_user) do %>
      <%= image_tag('btn-close-rounded.svg', class: 'currency-modal-close-btn') %>
    <% end %>

    <div class="user-badge-container badge-popup">
      <%= image_tag("#{@user_award.award.icon}") %>
    </div>

    <h1 class="badge-name"><%= @user_award.award.name %></h1>

    <div class="currency-text-content">
      <p><%= @user_award.award.description %></p>
    </div>
  </div>
</div>
