<div class="container-user-navbar user-navbar-top">

  <div class="nb-user-item" id="nb-level">
    <%= image_tag('nb-level.svg') %>
    <p><%= User.levels[current_user.level] %></p>
  </div>

  <div class="nb-user-item" id="nb-xp" style="visibility: <%= current_user.xp >= 150 ? "" : "hidden" %>;">
    <%= image_tag('nb-xp.svg') %>
    <p><%= current_user.xp %></p>
  </div>

  <div class="nb-user-item" id="nb-dish" style="visibility: <%= current_user.xp >= 150 ? "" : "hidden" %>;">
    <%= image_tag('nb-dish.svg') %>
    <p><%= current_user.user_recipes.count %></p>
  </div>

  <div class="nb-user-item">
    <p id="nb-beta">beta</p>
    <%= image_tag('nb-menu.svg', id: 'open-btn') %>
  </div>

</div>

<div class="container-user-navbar-footer">

  <%= link_to books_path, class: 'user-navbar-footer-item journey-icons' do %>
    <% if params[:controller] == 'books' || params[:controller] == 'lessons' %>
      <%= image_tag('nb-journey-active.svg', id: 'journey-active') %>
      <p class="active">Journey</p>
    <% else %>
      <%= image_tag('nb-journey.svg', id: 'journey') %>
      <p>Journey</p>
    <% end %>
  <% end %>

  <%= link_to completed_recipes_path, class: 'user-navbar-footer-item book-icons' do %>
    <% if current_page?(controller: 'user_recipes', action: 'completed_recipes') ||
    current_page?(controller: 'user_recipes', action: 'unlocked_recipes') ||
    current_page?(controller: 'user_skills', action: 'index') %>
      <%= image_tag('nb-book-active.svg', id: 'book-active') %>
      <p class="active">CuukBook</p>
    <% else %>
      <%= image_tag('nb-book.svg', id: 'book') %>
      <p>CuukBook</p>
    <% end %>
  <% end %>

  <%= link_to feed_path do %>
    <%= image_tag("nb-submenu.svg", id: 'submenu') %>
  <% end %>

  <%= link_to grocery_list_path(GroceryList.find_by(user: current_user)), class: 'user-navbar-footer-item grocery-icons' do %>
    <% if current_page?(controller: 'grocery_lists', action: 'show', id: GroceryList.find_by(user: current_user).id) || current_page?('/community') %>
      <%= image_tag('nb-grocery-active.svg', id: 'grocery-active') %>
      <p class="active">Grocery list</p>
    <% else %>
      <%= image_tag('nb-grocery.svg', id: 'grocery') %>
      <p>Grocery list</p>
    <% end %>
  <% end %>

  <%= link_to profile_user_path(current_user), class: 'user-navbar-footer-item profile-icons' do %>
    <% if current_page?(controller: 'users', action: 'profile', id: current_user.slug) || params[:controller] == 'registrations' %>
      <%= image_tag('nb-profile-active.svg', id: 'profile-active') %>
      <p class="active">Profile</p>
    <% else %>
      <%= image_tag('nb-profile.svg', id: 'profile') %>
      <p>Profile</p>
    <% end %>
  <% end %>

</div>

<div class="expanded-navbar">
  <div class="container-user-navbar">
    <div class="expanded-nb-div"></div>
    <div class="expanded-nb-div"></div>
    <div class="expanded-nb-div"></div>
    <%= image_tag('btn-close.svg', id: 'close-btn') %>
  </div>
  <div class="expanded-menu">
    <ul>
      <li>
        <%=link_to 'https://www.cuukin.app/', target: '_blank' do %>
          About Cuukin <%= icon('fas', 'external-link-alt') %>
        <% end %>
      </li>
      <li>
        <%=link_to 'https://www.patreon.com/Cuukin', target: '_blank' do %>
          Sharing is Caring <%= icon('fas', 'external-link-alt') %>
        <% end %>
      </li>
      <li><%= link_to 'Credits', credits_path %></li>
      <li><%=link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
    </ul>
  </div>
</div>
