<div class="container-user-navbar">
  <div class="nb-user-item" id="nb-level">
    <%= image_tag('nb-1-level.svg') %>
    <p><%= User.levels[current_user.level] %></p>
  </div>
  <div class="nb-user-item" id="nb-xp">
    <%= image_tag('nb-2-xp.svg') %>
    <p><%= current_user.xp %></p>
  </div>
  <div class="nb-user-item" id="nb-cuukie">
    <%= image_tag('nb-3-cuukie.svg') %>
    <p><%= current_user.cuukies %></p>
  </div>
  <div class="nb-user-item" id="nb-dish">
    <%= image_tag('nb-4-dish.svg') %>
    <p><%= current_user.user_recipes.count %></p>
  </div>
  <%= image_tag('nb-5-menu.svg', id: 'open-btn') %>
</div>

<div class="container-user-navbar-footer">

  <%= link_to books_path, class: 'journey-icons' do %>
    <% if params[:controller] == 'books' || current_page?('/welcome') || params[:controller] == 'lessons' %>
      <%= image_tag('nb-journey-active.svg', id: 'journey-active') %>
    <% else %>
      <%= image_tag('nb-journey.svg', id: 'journey') %>
    <% end %>
  <% end %>

  <%= link_to user_recipes_path, class: 'book-icons' do %>
    <% if params[:controller] == 'user_recipes' %>
      <%= image_tag('nb-book-active.svg', id: 'book-active') %>
    <% else %>
      <%= image_tag('nb-book.svg', id: 'book') %>
    <% end %>
  <% end %>

  <%= link_to community_path, class: 'community-icons' do %>
    <% if current_page?('/community') %>
      <%= image_tag('nb-community-active.svg', id: 'community-active') %>
    <% else %>
      <%= image_tag('nb-community.svg', id: 'community') %>
    <% end %>
  <% end %>

  <%= link_to user_path(current_user), class: 'profile-icons' do %>
    <% if params[:controller] == 'users' || params[:controller] == 'devise/registrations' %>
      <%= image_tag('nb-profile-active.svg', id: 'profile-active') %>
    <% else %>
      <%= image_tag('nb-profile.svg', id: 'profile') %>
    <% end %>
  <% end %>

</div>

<div class="expanded-navbar">
  <%= image_tag('btn-close.svg', id: 'close-btn') %>
  <div class="expanded-menu">
    <ul>
      <li><%=link_to 'About Cuukin', 'https://www.cuukin.app/', target: '_blank' %></li>
      <li><%=link_to 'Sharing is Caring', 'https://www.patreon.com/Cuukin', target: '_blank' %></li>
      <li><%= link_to 'Credits', credits_path %></li>
      <li><%=link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
    </ul>
  </div>
</div>
