<div class="recipe-validation-modal" id="validateLessonModal">
  <div class="recipe-validation-modal-content">
    <%= image_tag('btn-close-rounded.svg', class: 'modal-close-btn', id: 'closeValidateModal') %>

    <%= simple_form_for(@lesson_validation, url: lesson_lesson_validations_path(@lesson), method: 'post') do |f| %>
      <%= f.error_notification %>

      <div class="validation-item" id="recipe-validation-item-photo" style="display: none;">
        <h3>Take a photo of your dish</h3>
        <p>Your photo will verify lesson completition</p>
        <div class="form-group-photo">
          <%= f.input :photo, input_html: { class: 'd-none', id: 'photo-input' }, label_html: { class: 'upload-photo' }, label: 'Add a photo' %>
          <%= image_tag "", class: "hidden", id: "photo-preview" %>
        </div>
        <p class="primary-btn" id="validateLessonConfirmPhoto">Confirm Photo</p>
      </div>

      <div class="validation-item" id="recipe-validation-item-recipe" style="display: none;">

        <h3>Great job!</h3>

        <div class="lesson-validation-recipes-container">
          <p style="margin-bottom: 5px;">Which recipe did you cook?</p>
          <%= f.input :recipe_id, label: false, collection: @lesson.recipes.order(external_url: :desc), as: :radio_buttons, legend_tag: false %>
        </div>

        <p class="disabled-btn" id="validateLessonRecipeInput">Next</p>
      </div>

      <div class="validation-item" id="recipe-validation-item-notes" style="display: none;">

        <p>How difficult was the lesson?</p>

        <fieldset class="form-group radio_buttons optional">

          <div class="lesson-validation-options-container">
            <div class="form-check lesson-validation-options">
              <input class="form-check-input radio_buttons" type="radio" value="easy" name="lesson_validation[difficulcy]" id="lesson_validation_difficulcy_1">
              <label class="form-check-label collection_radio_buttons" for="lesson_validation_difficulcy_1">
                <%= image_tag('lv-icon-easy.svg') %>
                <p>Piece of cake</p>
              </label>
            </div>

            <div class="form-check lesson-validation-options">
              <input class="form-check-input radio_buttons" type="radio" value="medium" name="lesson_validation[difficulcy]" id="lesson_validation_difficulcy_2">
              <label class="form-check-label collection_radio_buttons" for="lesson_validation_difficulcy_2">
                <%= image_tag('lv-icon-medium.svg') %>
                <p>Just right</p>
              </label>
            </div>

            <div class="form-check lesson-validation-options">
              <input class="form-check-input radio_buttons" type="radio" value="hard" name="lesson_validation[difficulcy]" id="lesson_validation_difficulcy_3">
              <label class="form-check-label collection_radio_buttons" for="lesson_validation_difficulcy_3">
                <%= image_tag('lv-icon-hard.svg') %>
                <p>Burnt it all</p>
              </label>
            </div>
          </div>

        </fieldset>

        <p>Notes & feedback</p>
        <%= f.input :notes, label: false, input_html: { rows: '2' } %>
        <%= f.input :public, label: "Post on my feed", input_html: { class: "toggle" } %>

        <%= f.button :submit, 'Complete Lesson', class: 'disabled-btn', id: 'submitValidation' %>
      </div>

    <% end %>
  </div>
</div>
