<!DOCTYPE html>
<html>
  <head>
    <title>Cuukin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <%= render 'layouts/head_js' %>
  </head>

  <body>
    <%= render 'shared/flashes' %>
    <%= render 'shared/currencies/stars_popup' %>
    <%= render 'shared/currencies/level_popup' %>
    <%= render 'shared/currencies/dishes_popup' %>
    <%= render 'shared/currencies/cuukies_popup' %>

    <% if current_page?('/commitment') %>
      <%= render 'shared/navbars/visitor_navbar' %>
      <div class="user-content-container">
        <%= yield %>
      </div>
    <% elsif current_user %>
      <%= render 'shared/navbars/user_navbar' %>
      <div class="user-content-container">
        <%= yield %>
      </div>
    <% else %>
      <%= render 'shared/navbars/visitor_navbar' %>
      <div class="content-container">
        <%= yield %>
      </div>
    <% end %>

  </body>
</html>
