<!DOCTYPE html>
<html>
  <head>
    <title>Cuukin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-28QE5MPYVP"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-28QE5MPYVP');
    </script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/flashes' %>
    <%= render 'shared/currencies/stars_popup' %>
    <%= render 'shared/currencies/level_popup' %>
    <%= render 'shared/currencies/dishes_popup' %>
    <%= render 'shared/currencies/cuukies_popup' %>

    <% if current_user %>
      <%= render 'shared/navbars/user_navbar' %>
      <div class="user-content-container">
        <%= yield %>
      </div>

    <% else %>
      <%= render 'shared/navbars/visitor_navbar' %>
      <div class="content-container">
        <%= yield %>
      </div>
    <% end %>

  </body>
</html>
